<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>202541910865-088aqcs7iojk98qge6tevmunm60gfp2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.202541910865-088aqcs7iojk98qge6tevmunm60gfp2m</string>
	<key>API_KEY</key>
	<string>AIzaSyApslwz_ZuHCH5k0quo018YNwL9HnJD9Wg</string>
	<key>GCM_SENDER_ID</key>
	<string>202541910865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase-test.app</string>
	<key>PROJECT_ID</key>
	<string>fir-test-286d1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-286d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202541910865:ios:98c30ed4fbb7f896b92170</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-286d1.firebaseio.com</string>
</dict>
</plist>